# Logic Regression

In [1]:
#Import the Required Modules 
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score

In [2]:
#Import the Dataset reqired 
logreg = pd.read_csv('processed_data.csv')

#View the Dataset
logreg.head()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,15634602,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,1,1,0.021886,1,1,0,0,1,0
1,15647311,-0.440036,0.198164,-1.387538,0.117350,-0.911583,0,1,0.216534,0,0,0,1,1,0
2,15619304,-1.536794,0.293517,1.032908,1.333053,2.527057,1,0,0.240687,1,1,0,0,1,0
3,15701354,0.501521,0.007457,-1.387538,-1.225848,0.807737,0,0,-0.108918,0,1,0,0,1,0
4,15737888,2.063884,0.388871,-1.041760,0.785728,-0.911583,1,1,-0.365276,0,0,0,1,1,0

In [3]:
#Set X and Y
X = logreg.drop('Exited', axis=1)
y = logreg['Exited']

In [4]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Create a logistic regression model and fit it to the training data
logreg_model = LogisticRegression(solver='lbfgs', random_state=1)
logreg_model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [8]:
# Evaluate the model on the test data
accuracy = logreg_model.score(X_test, y_test)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 80.35%

In [11]:
predictions = logreg_model.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).tail(20)

      Prediction  Actual
17             0       0
1770           0       1
1888           0       0
2152           0       1
1642           0       0
7846           0       0
4193           0       0
9432           0       0
8898           0       0
533            0       0
132            0       0
7722           0       0
8458           0       0
964            0       1
8719           0       0
6412           0       1
8285           0       0
7853           0       1
1095           0       1
6929           0       1

## Confusion Matrix

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[1607,    0],
       [ 393,    0]], dtype=int64)

## Classification Report

In [16]:
from sklearn.metrics import classification_report
target_names = ["Exited", "Remained"]
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

      Exited       0.80      1.00      0.89      1607
    Remained       0.00      0.00      0.00       393

    accuracy                           0.80      2000
   macro avg       0.40      0.50      0.45      2000
weighted avg       0.65      0.80      0.72      2000

C:\Users\L_Mul\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\L_Mul\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\L_Mul\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))